{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="d-flex flex-column align-items-center">
		<h1 class="text-bold">Découvre le jeu du moment</h1>
        <p>Saisis le titre qui te vient à l'esprit et découvre les similitudes sur le jeu</p>
        <button class="btn">A toi de jouer !</button>
	</div>
{% endblock %}
