{% extends 'base.html.twig' %}

{% block title %}Statistiques!
{% endblock %}

{% block body %}
	<div class="home-container">
		<div class="m-2">
            <h1 class="title">Mes statistiques</h1>
            <p>Page en cours de construction ...</p>
        </div>
	</div>
{% endblock %}
