{% extends 'base.html.twig' %}

{% block title %}Confidentialité!
{% endblock %}

{% block body %}
	<div class="home-container">
		<div class="m-2">
			<h1 class="title">Politique de confidentialité</h1>
			En cours de construction ...
		</div>
	</div>
{% endblock %}
