{% extends 'base.html.twig' %}

{% block title %}Les défis de Sorralli!
{% endblock %}

{% block body %}
	<div class="home-container">
		<div class="m-2">
            <h1 class="title">Trouve les anciens jeux mystères</h1>
            <p>Page en cours de construction ...</p>
        </div>
	</div>
{% endblock %}
