{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="form-container">
		<div class=" mx-4 my-2">
			<h1 class="title">Inscription</h1>
			<div>
				{{ form(form) }}
					<a class="d-flex justify-content-end text-decoration-none text-high" href="{{path('app_login')}}">Déjà un compte ?</a>
				</div>
			</div>
		</div>
	{% endblock %}
