{% extends 'base.html.twig' %}

{% block title %}ADMIN - Création du jeu
{% endblock %}

{% block body %}
<div class="container mt-5">
	<h1 class="title fw-bold mb-4">Création du jeu pour le prochain stream</h1>

	<div class="text-center mt-3">
		<form class="d-flex justify-content-center mt-3" role="search" method="GET"
			action="{{ path('admin_game_search') }}">
			<input class="form-control w-50" type="search" name="search" placeholder="Ajouter un jeu..."
				aria-label="Search">
			<button class="btn ms-2" type="submit">Ajouter</button>
		</form>
	</div>

	<div>
		{% if mysteryGames is defined %}

		<div class="subtitle mt-4 d-flex justify-content-center">Liste des jeux mystères</div>
		{% for mysteryGame in mysteryGames %}
		<div class="d-flex justify-content-between w-75 m-auto mb-2 gap-2">
			<div class="component w-100">
				{{mysteryGame.name}} ({{mysteryGame.yearPublished}})
			</div>
			{% if mysteryGame.status == 'stream' %}
				<a href="" class="btn w-100">Envoyer vers "auto"</a>
			{% elseif mysteryGame.status == 'in pending'  %}
				<a href="" class="btn w-100">Envoyer vers "stream"</a>
			{% endif %}
		</div>
		{% endfor %}
	</div>
	{% endif %}

	<div class="mt-4">
		{% include 'components/admin/searchResult.html.twig' %}
	</div>
</div>
{% endblock %}